<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="title">Employee List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped tableContainer">
      <thead>
      <tr style="background-color: gray">
        <th>First Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees | async" style="background-color: lightslategrey">
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.emailId}}</td>
        <td><button (click)="deleteEmployee(employee.id)" class="btn btn-danger">Delete</button>
          <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          <button  class="btn btn-info" style="margin-left: 10px">Update</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
