<h2 class="title">Employee Details</h2>

<hr/>
<div *ngIf="employee">
  <div class="title">
    <label><b>First Name: </b></label> {{employee.firstName}}
  </div>
  <div class="title">
    <label><b>Last Name: </b></label> {{employee.lastName}}
  </div>
  <div class="title">
    <label><b>Email Id: </b></label> {{employee.emailId}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Employee List</button><br>
