<!--<nav class="navbar navbar-expand-sm navbar-light" *ngIf="currentUser">-->
<!--  <div class="navbar-nav">-->
<!--    <a class="nav-item nav-link" routerLink="/">Home</a>-->
<!--    <a class="nav-item nav-link" (click)="logout()">Logout</a>-->
<!--  </div>-->
<!--  &lt;!&ndash; Links &ndash;&gt;-->
<!--  <ul class="navbar-nav">-->
<!--    <li class="nav-item">-->
<!--      <a routerLink="home" class="nav-link navigationBar" routerLinkActive="active">Home</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a routerLink="employees" class="nav-link navigationBar" routerLinkActive="active">Employee List</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--  <ul class="navbar-nav" style="margin-left: auto">-->
<!--    <li class="nav-item">-->
<!--      <a routerLink="admin_panel" class="nav-link navigationBar" routerLinkActive="active">Administrator Panel</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->
<!--<div class="container">-->
<!--  <br>-->
<!--  <h2 style="text-align: center;" class="title">{{title}}</h2>-->
<!--  <hr>-->
<!--  &lt;!&ndash;  <div class="card">&ndash;&gt;-->
<!--  &lt;!&ndash;    <div class="card-body">&ndash;&gt;-->
<!--  <router-outlet></router-outlet>-->
<!--  &lt;!&ndash;    </div>&ndash;&gt;-->
<!--  &lt;!&ndash;  </div>&ndash;&gt;-->
<!--</div>-->

<!--<footer class="footer">-->
<!--  <div class="container">-->
<!--    <br>-->
<!--    <span>Created by Paweł Przesdzing, {{date|date:'longDate'}}</span>-->
<!--  </div>-->
<!--</footer>-->
<!-- nav -->
<nav class="navbar navbar-expand-sm navbar-light menuPosition" *ngIf="currentUser">
  <ul class="navbar-nav" style="margin-right: auto">
    <li class="nav-item">
      <a routerLink="home" class="nav-link navigationBar" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="employees" class="nav-link navigationBar" routerLinkActive="active">Humann resources</a>
    </li>
    <li class="nav-item">
      <a routerLink="fixed_assets" class="nav-link navigationBar" routerLinkActive="active">Fixed assets</a>
    </li>
    <li class="nav-item">
      <a routerLink="employees" class="nav-link navigationBar" routerLinkActive="active">Invoices</a>
    </li>
  </ul>
  <ul class="navbar-nav" style="margin-left: auto">
    <li class="nav-item">
      <a routerLink="login" class="nav-link navigationBar" routerLinkActive="active" (click)="logout()">Logout</a>
    </li>
    <li class="nav-item">
      <a routerLink="admin_panel" class="nav-link navigationBar" routerLinkActive="active">Administrator Panel</a>
    </li>
  </ul>
</nav>

<!-- main app container -->
<div class="container">
  <h2 style="text-align: center;" class="mainTitle">{{title}}</h2>
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <br>
    <span>Created by Paweł Przesdzing, {{date|date:'longDate'}}</span>
  </div>
</footer>
