<h3 class="title">Create Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="title">First Name</label>
      <input placeholder="Enter first name" type="text" class="form-control" id="firstName" required [(ngModel)]="employee.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label class="title">Last Name</label>
      <input placeholder="Enter last name" type="text" class="form-control" id="lastName" required [(ngModel)]="employee.lastName" name="lastName">
    </div>

    <div class="form-group">
      <label class="title">Email</label>
      <input placeholder="Enter email" type="text" class="form-control" id="emailId" required [(ngModel)]="employee.emailId" name="emailId">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4 class="submitCreateUser">You submitted successfully!</h4>
  <button (click)="list()" class="btn btn-primary">Back to Employee List</button><br>
</div>
