/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  text-align: center;
  color: white;
}

.title {
  color: white;;
}

.mainTitle {
  color: white;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 60px;
}

.navigationBar {
  color: white !important;
}

.containerColor {
  color: white;
}

.submitCreateUser {
  color: white;
  margin-top: 25px;
  margin-bottom: 25px;
}

.tableContainer {
  color: white !important;
}

.homeImg {
  filter: blur(2px);
  /*margin:120px auto;*/
  display:block;
}

.menuPosition {
  font-size: 20px;
}

