<div class="card-body">
  <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
  <ul *ngIf="users">
    <a *ngFor="let user of users" class="navigationBar">Hello {{user.firstName}} {{user.lastName}}!</a>
  </ul>
</div>
